* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #C93B39;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #571B45;
  font-size: 8rem;
  font-family: 'Orbitron', sans-serif;
}